* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    margin-bottom: 3vh; 
    padding: 1vh 50px 0px 50px;    
}

.header-text {
    width: 100%;
    font-size: x-large;
    font-weight: 700;
    letter-spacing: 3px;
    color: silver;
}

#clear-board {
    width: 170px;
    padding: 5px;
    margin: 5px 0px 5px 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: silver;
    border: silver 2px solid;
}

main {
    width: 100vw; 
    height: 85vh;
}

#grid-container {
    display: grid;
    height: auto;
    justify-content: center;
}

.grid-item {
    border: black 1px solid;
}

.grid-item:hover {
    border: silver 1px solid;
}

.purple {
    background-color: purple;
    border: purple 1px solid;
} 

.border-top {
    border-top: silver 2px solid; 
}

.border-right {
    border-right: silver 2px solid; 
}

.border-bottom {
    border-bottom: silver 2px solid; 
}

.border-left {
    border-left: silver 2px solid; 
}

